[submodule "GeneralCode"]
	path = GeneralCode
	url = git@github.com:muellerlab/GeneralCode.git
[submodule "PX4-firmware"]
	path = PX4-firmware
	url = git@github.com:muellerlab/PX4-firmware.git
[submodule "tensegrity-sysID"]
	path = tensegrity-sysID
	url = git@github.com:BioMorphic-Intelligence-Lab/tensegrity-sysID.git
